<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iris Recognition</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Rampart+One&family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>

  <body>

    <header class="header clearfix">
      <a href="{{ url_for('access') }}" class="header__logo"><img src="../static/images/logo.png" height="50px" width="50px" alt="Logo"></a>
      <ul class="header__menu animate">
          <li class="header__menu__item"><a href="{{ url_for('access') }}" >Log in</a></li>
          <li class="header__menu__item"><a href="{{ url_for('registration') }}" >Sign up</a></li>
      </ul>
    </header>

    <section class="cover">
      <div class="cover__caption">
          <div class="cover__caption__copy">
              <h1>Log in</h1>
              <h2>Enter your EMAIL and scan your IRIS</h2>
          </div>
      </div>
    </section>

    <section class="input-section">
        <input type="email" class="input" id="email" name="email" placeholder="email" required>
    </section>

    <section class="CT-photo-button">
      <button id="uploadPhotoButton" class="CT-button"><h3>Upload a Photo</h3></button>
      <button id="takePhotoButton" class="CT-button"><h3>Take a Photo</h3></button>
    </section>

    <video id="video" autoplay></video>
    <button id="captureButton"><h2>Capture Photo</h2></button>
    <canvas id="canvas"></canvas>
    <img id="photo" alt="Captured Photo" src="" style="display: none;">
    <button id="retryButton" class="button-retry"><h2>Retry Photo</h2></button>
    <button id="retryButton2" class="button-retry"><h2>Delete Photo</h2></button>
    <section class="button-section">
       <button id="loginButton" class="button"><h1>Log in</h1></button>
    </section>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"> </script>

    <script>
        document.getElementById('loginButton').addEventListener('click', function() {
        var emailInput = document.getElementById('email');
        var emailValue = emailInput.value;

        var photo = document.getElementById('photo');
        if (photo.style.display == 'none') {
          alert('Upload or take a photo');
          return;
        }
        getBlobFromImage(photo).then(function(blob) {
          if (validateEmail(emailValue)) {
              var formData = new FormData();
              formData.append('email', emailValue);
              formData.append('iris_picture', blob, 'iris_picture.png');
              $.ajax({
                  url: '/login',
                  type: 'POST',
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(response) {
                      alert(response)
                  },
                  error: function(error) {
                      alert('Error during login.');
                  }
              });
          } else {
              alert('Enter a valid email address.');
          }
        });
    });

    function getBlobFromImage(img) {
      return new Promise((resolve) => {
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, img.width, img.height);

        canvas.toBlob(resolve, 'image/png');
      });
  }

    function validateEmail(email) {
        var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
    }
    </script>

    <script>
      document.getElementById('uploadPhotoButton').addEventListener('click', function() {
        var takePB = document.getElementById('takePhotoButton');
        var uploadPB = document.getElementById('uploadPhotoButton');

        uploadPB.style.backgroundColor = "#999999";
        takePB.style.backgroundColor = "lightgrey";

        const canvas = document.getElementById('canvas');
        canvas.style.display = "none";
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height); 
        canvas.width = 0; 
        canvas.height = 0; 
        const photo = document.getElementById('photo');
        photo.style.display = 'none';
        const video = document.getElementById('video');
        video.style.display = 'none';
        const captureButton = document.getElementById('captureButton');
        captureButton.style.display = 'none';
        const retryButton = document.getElementById('retryButton');
        retryButton.style.display = 'none';

        var fileInput = document.createElement('input');
        fileInput.type = 'file';

        fileInput.addEventListener('change', function(event) {
            var file = event.target.files[0];
            if (file) {
              if (file.type.startsWith('image/')) {
                  var photo = document.getElementById('photo');
                  photo.style.display = 'block';
                  photo.src = URL.createObjectURL(file);

                  const retryButton2 = document.getElementById('retryButton2');
                  retryButton2.style.display = 'block';

              } else {
                  alert('Please select an image file.');
                  fileInput.value = '';
              }
          }
        });
        fileInput.click();
      });

      document.getElementById('takePhotoButton').addEventListener('click', function() {
        var takePB = document.getElementById('takePhotoButton');
        var uploadPB = document.getElementById('uploadPhotoButton');

        takePB.style.backgroundColor = "#999999";
        uploadPB.style.backgroundColor = "lightgrey";

        const canvas = document.getElementById('canvas');
        canvas.style.display = "block";
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        canvas.width = 0;
        canvas.height = 0;
        const photo = document.getElementById('photo');
        photo.style.display = 'none';
        const video = document.getElementById('video');
        video.style.display = 'block';
        const retryButton = document.getElementById('retryButton');
        retryButton.style.display = 'none';
        const retryButton2 = document.getElementById('retryButton2');
        retryButton2.style.display = 'none';
        const captureButton = document.getElementById('captureButton');
        captureButton.style.display = 'block';
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const video = document.getElementById('video');
        const captureButton = document.getElementById('captureButton');
        const retryButton = document.getElementById('retryButton');
        const retryButton2 = document.getElementById('retryButton2');
        const canvas = document.getElementById('canvas');
        const photo = document.getElementById('photo');
        const ctx = canvas.getContext('2d');

        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            if (stream) {
              video.srcObject = stream;
            } else {
              console.error('No camera available.');
            }
          })
          .catch(function (error) {
            console.error('Error accessing webcam:', error);
          });

          captureButton.addEventListener('click', function () {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight*(5/8);

            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

            const imageDataURL = canvas.toDataURL('image/png');

            photo.src = imageDataURL;
            photo.width = canvas.width;
            photo.height = canvas.height;

            video.style.display = 'none';
            captureButton.style.display = 'none';

            canvas.style.display = 'none';
            photo.style.display = 'block';
            retryButton.style.display = 'block';
          });

          retryButton.addEventListener('click', function () {
            video.style.display = 'block';
            captureButton.style.display = 'block';

            canvas.style.display = 'none';
            photo.style.display = 'none';
            photo.src = "";
            retryButton.style.display = 'none';
          });

          retryButton2.addEventListener('click', function () {
            photo.style.display = 'none';
            photo.src = "";
            retryButton2.style.display = 'none';
          });

      });
    </script>



  </body>

</html>